// Tipografia
$fuentePrincipal: 'monserrat', sans-serif;
$fuenteTitulo: 'Monoton', cursive;

// Colores

$verde: #4cb8b3;
$rosa:  #f53756;
$amarillo: #fef46d;
$violeta: #752f97;
$negro: #000000;
$blanco: #fff;


// Tamaño media Querys

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;